.Navbar {
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    height: 3.5rem!important;
    width: 100%;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #363636;
}

#gh-link {
    display: inline;
    float: right;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 1em;
}