* {
  box-sizing: border-box;
}

/* layouts */
.flex {
  display: flex;
  align-items: stretch;
}

/* widths */
html, body, #root, .root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif
}
